.mat-column-bill-description {
    width: 200px;
    padding-right: 20px;
    text-align: left;
}

.mat-column-bill-amount {
    width: 135px;
    padding-right: 20px;
    text-align: left;
}

.mat-column-bill-company {
    width: 135px;
    padding-right: 20px;
    text-align: left;
}


.mat-column-actions {
    width: 150px;
    text-align: left;
}