


<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                    <div class="d-flex align-items-center">
                            <img
                                src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                                alt=""
                                style="width: 40px; height: 40px"
                                class="rounded-circle"/>
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">Kevin</p>
                                </div>    
                        </div>
    
            </mat-panel-title>
            <mat-panel-description>
                
                
     
                Assets: 00000 | Liabilities: 00000 | Net Worth: 000000 | Credit Score: 000
            
                <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- PANEL CONTENT -->
        <div class="row">
            <!-- PROFILE SELECTOR DROPDOWN -->
            <div class="col">
                
                <form [formGroup]="profileSelectorForm" (ngSubmit)="onSelectProfile(profileSelectorForm.value)">
                    <mat-form-field appearance="outline"
                        [hideRequiredMarker]="hideRequiredControl.value"
                        [floatLabel]="getFloatLabelValue()">
                        <mat-select formControlName="selectedUserId">
                            <mat-option 
                            *ngFor="let profile of profiles" value="{{profile.id}}">{{ profile.userFirstName }}</mat-option>
                        </mat-select>
                        <mat-label><mat-icon>perm_identity</mat-icon> <b> Profile</b></mat-label>
                    </mat-form-field>
                 
                </form>
                <button mat-raised-button color="primary" (click)="onSelectProfile(profileSelectorForm.value)">Switch Profile</button>
            </div>

        </div>
        <!-- <mat-action-row>
            <button mat-button color="primary">Change Profile</button>
        </mat-action-row> -->
    </mat-expansion-panel>
</mat-accordion>
