<app-header [title]="title"></app-header>
<div class="row">
    <div class="col-sm-6">
      <div class="card border-success text-bg-light mb-3">
        <div class="card-body">
          <h5 class="card-title">My Assets</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text" 
            id="currency" 
            [ngStyle]="{'color': totalAssetAmount < 0 ? 'red' : 'green'}">
            ${{ totalAssetAmount| number : '1.0-2' }}</p>
          <a routerLink="/assets" class="btn btn-primary">View Assets</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border-danger text-bg-light mb-3">
        <div class="card-body">
          <h5 class="card-title">My Liabilities</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text" 
            [ngStyle]="{'color': totalAssetAmount < 0 ? 'green' : 'red'}"
            id="currency">$ {{ totalLiabilityAmount | number : '1.0-2' }}</p>
          <a routerLink="/liabilities" class="btn btn-primary">View Liabilities</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
        <div class="card border-success text-bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">My Net Worth</h5>
            <p class="card-text">Your Net Worth is calculated by subtracting your Liabilites from your Assets.</p>
            <p class="card-text text-success" id="currency">$35,000</p>
            <a href="#" class="btn btn-primary">View Net Worth Progress</a>
          </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="card border-dark text-bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">Budget Tracker</h5>
            <p class="card-text">Use Progress Bars to show progress towards each budget category</p>
            <a href="#" class="btn btn-primary">Update Budgets</a>
            <a href="#" class="btn btn-primary">Log Recent Expenses</a>
          </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card border-dark text-bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">Upcoming Bills</h5>
            <p class="card-text">Use view-only calendar to show upcoming bills</p>
            <a routerLink="/bills" class="btn btn-primary">Update Bills</a>
          </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card border-dark text-bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">Investment Performance</h5>
            <p class="card-text">Preview of All Investment Performance</p>
            <a href="#" class="btn btn-primary">Update Investments</a>
          </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="card border-dark text-bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">Recent Accomplishments</h5>
            <p class="card-text">Preview of All Goals Reached Recently</p>
            <a routerLink="/goals" class="btn btn-primary">View My Goals</a>
          </div>
        </div>
    </div>
</div>

