table {
    width: 100%;
    th.mat-sort-header-sorted {
        color: black;
    }
    .amount-value{
        color: green;
    }
      
    .mat-row:hover .mat-cell {
        background-color: rgb(240, 241, 240);
    }
    
    .demo-row-is-clicked {
        font-weight: bold;
    }
}