<app-header [title]="title"></app-header>
<div class="row">
    <div class="col-sm-12">
        <div class="card border-success text-bg-light mb-3">
            <div class="card-body">
                <h5 class="card-title">Debt Snapshot</h5>
                <p class="card-text">Good Work! You Paid <span class="card-text text-success">$400</span> Towards Debts Last Month</p>
                Vehicle Loan
                <mat-progress-bar mode="determinate" color="warn" value="50"></mat-progress-bar>
                Vehicle Loan 
                <mat-progress-bar mode="determinate" color="warn" value="80"></mat-progress-bar>
                Credit Card
                <mat-progress-bar  mode="determinate" color="warn" value="10"></mat-progress-bar>
            </div>
        </div>
    </div>
</div>

<app-liabilities-table></app-liabilities-table>

