<app-header [title]="title"></app-header>
<div class="row">
    <div class="col-sm-12">
        <div class="card border-danger text-bg-light mb-3">
                
            <div class="card-body">
                <h3>Total Debts: <b [ngStyle]="{'color': totalDebtAmount < 0 ? 'green' : 'red'}">${{ totalDebtAmount | number : '1.0-2' }}</b></h3>

                <!-- TODO: Figure out how to calculate difference from End of previous month -->
                <h4>+/- this Month: <b [ngStyle]="{'color': totalDebtAmount < 0 ? 'green' : 'red'}">-$450</b></h4>

                <h4>+/- this Year: <b [ngStyle]="{'color': totalDebtAmount < 0 ? 'green' : 'red'}"> -$6,000</b></h4>
            
            </div>
        </div>
    </div>
</div>

<app-liabilities-table></app-liabilities-table>

