<app-header [title]="title"></app-header>
<div class="row">
    <div class="col-sm-12">
        <div class="card border-success text-bg-light mb-3">
                
            <div class="card-body">
                <h3>Total Assets: <b>${{ totalAssetAmount }}</b></h3>

                <h4>Total Progress Towards Your Asset Goals: <b>{{ goalProgressAverage }}%</b></h4>

                <h4>+/- this Month: <b>+ $650</b></h4>

                <h4>+/- this Year: <b> + $1,850</b></h4>
            
            </div>
        </div>
    </div>
</div>

<app-assets-table></app-assets-table>
