<div class="row">
    <div style="display: flex">
        <mat-card 
            class="col-sm-3" 
            style="margin: 1rem;" 
            *ngFor="let user of users" >
            <mat-card-header>
                <mat-card-title>{{ user.userFirstName }} {{ user.userLastName }}</mat-card-title>
                <img mat-card-avatar
                    src="{{ user.userProfileImageUrl }}"
                    alt=""
                    style="width: 45px; height: 45px"
                    class="rounded-circle"/>
                <mat-card-subtitle *ngIf="user.userJobTitle && user.userEmployer" >{{user.userJobTitle}} at {{ user.userEmployer }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <ul class="user-info-list">
                    <li><b>Email: </b>{{ user.userEmailAddress }}</li>
                    <li><b>Phone: </b>{{ user.userPhoneNumber }}</li>
                </ul>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="openEditProfileDialog(this.user)">Edit</button>
                <button mat-raised-button (click)="openDeleteProfileDialog(this.user.id, this.user.userFirstName, this.user.userLastName)">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div> 
<div class="add-profile-button-container">
    <button mat-button 
            color="primary" 
            (click)="openNewProfileDialog()">Add New Member
    </button>
</div>
